/* Reset some default styles for better consistency */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  color: #FFF; /* Set font color to white */
  background-color: #99B898; /* Updated background color */
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #FF847C;
  color: white;
  padding: 10px 0;
}

nav ul {
  background-color: #FF847C;
  list-style: none;
  display: flex;
  justify-content: center;
}

nav a {
  background-color: #FF847C;
  text-decoration: none;
  color: white;
  margin: 0 20px;
}

/* Hero section */
#hero {
  background-size: cover;
  color: #000000;
  text-align: center;
  padding: 100px 0;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.cta-button {
  display: inline-block;
  background-color: #FF847C;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
}

/* Footer */
footer {
  background-color: #2A363B;
  color: white;
  text-align: center;
  padding: 20px 0;
}

/* About section */
#about {
  background-color: #FECEAB; /* Set background color */
  text-align: center; /* Center the content */
  padding: 50px 0; /* Add padding */
}

.about-content {
  color: white;
}

.about-content h2 {
  margin-bottom: 20px;
}

/* Add this to your existing styles.css */

#logo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
  padding: 50px 20px; /* Adjust margin as needed */
  box-sizing: border-box;
  position: relative; /* Add position: relative */
}

#logo img {
  max-width: 55%; /* Adjust this value to make the logo smaller */
  height: auto;
}

/* for buttons+yt links ection */
/* styles.css */

#grid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: #FECEAB;
}

.grid-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.cta-button {
  display: block;
  text-align: center;
  padding: 10px 20px;
  background-color: #E84A5F;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.footer p{
  background-color: #2A363B !important;
}